.rounded {
    counter-reset: li;
    list-style: none;
    font: 14px "Trebuchet MS", "Lucida Sans";
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 88.5%;
    z-index: 4;
    width: 23%;
    padding: 0px 0 15px;
    margin-top: -1.9%;
    background: white;
    border-radius: 0.65rem!important;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, 20px);
    transition: .3s;
}
.rounded > li > a {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;
    border-radius: 10px;
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    letter-spacing: 1px;
    border: 1px solid darkgray;
}

.rounded > li > a:hover {
    background: yellow;
    border-radius: 10px;
    height: 1.8em;
}
.rounded > li > a:hover:before {transform: rotate(360deg);}
.rounded > li > a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1em;
    background: yellow;
    height: 2em;
    width: 2em;
    line-height: 1.5em;
    border: .3em solid white;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

.topmenu > li:hover .rounded {
    visibility: visible;
    opacity: 1;
    height: 0;
    width: 18%;
    border-radius: 0.65rem!important;
    /*transform: translate(-50%, 0);*/
}
.rounded > li {
    background: white;
    border-radius: 10px;
    height: 2.5em;
    margin: 0.5px;
    width: 110%;
}
.rounded > li:hover {
    background: #e8c81d;;
    transition: opacity;
    border-radius: 10px;
    height: 2.5em;
    width: 100%;
}

.rounded > li:hover::before {
    background: #e8c81d;;
    transition: opacity;
    border-radius: 10px;
    height: 2.5em;
    width: 100%;
}

.rounded:hover::before{
    border-radius: 0.35rem!important;
}
