@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Libre+Baskerville');
body {
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}
body:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}
nav {
    text-align: center;
    /*font-size: small;*/
    color: black;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu_var {
    width: 100%;
    display: table;
}
.menu_var ul {
    display: table-row;
}
.menu_var > ul > li {
    display: table-cell;
    background: yellow;
}
.menu_var > ul > li:hover {
    background: #e8c81d;
}
/*, .menu_var a:hover*/
.menu_var ul {
    background: gold;
}
.menu_var li a {
    display: block;
    padding: 8px 15px;
    color: black;
    text-align: center;

}

