.rounded {
    counter-reset: li;
    list-style: none;
    font: 14px "Trebuchet MS", "Lucida Sans";
    text-shadow: 0 1px 0 rgba(255,255,255,.5);

    display: flex;
    flex-direction: column;
    position: absolute;
    left: 88.5%;

    z-index: 4;
    width: 23%;
    padding: 0px 0 15px;
    margin-top: -1.9%;
    background: white;
    border-radius: 5px;
    /*box-shadow: 0 0 30px rgba(0,0,0,.2);*/
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, 20px);
    transition: .3s;
}
.rounded > li > a {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    /*background: #DAD2CA;*/
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;


    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    letter-spacing: 1px;
    /*padding: 5px 10px;*/
    /*transition: .3s linear;*/
}

.rounded > li > a:hover {
    background: #E9E4E0;
}
.rounded > li > a:hover:before {transform: rotate(360deg);}
.rounded > li > a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: yellow;
    height: 2.5em;
    width: 2.5em;
    line-height: 2em;
    border: .3em solid white;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

.topmenu > li:hover .rounded {
    visibility: visible;
    opacity: 1;
    /*transform: translate(-50%, 0);*/
}
.rounded > li {
     background: white;
     margin-bottom: 5px;
 }
rounded > li:hover {
    background: gainsboro;
    transition: opacity;
}
